<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
      <h2>id: <%= newData2.id %></h2>
      <h2>name: <%= newData2.name %></h2>
      <h2>year: <%= newData2.year %></h2>
      <h2>genre: <%= newData2.genre %></h2>
    </div>
    <a href="/">Go Back</a>
  </body>
</html>
