<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>

  <body>
    <div style="display: flex; align-items: center; flex-direction: column">
        <div style="display: flex; align-items: center; flex-direction: column">
        <% data.forEach(el => { %>
        <div style="width: 200px; height: 200px; border: 2px solid black; display: flex; justify-content: center; align-items: center;">
            <a href="/<%= el.genre %>" style="text-decoration: none;"><%= el.genre %></a>
        </div>
        <% }) %>
    </div>
  </body>
</html>
